.header {
  width: 200px;
  height: 200px;
  background: #aaaaaa;
}
.header a {
  color: #da2828;
}
.header a:hover {
  color: #3effb5;
}
.header a::after {
  content: '我是伪元素';
}
.nav .logo {
  color: #5739db;
}
